<div class="container">
  <div class="row">
    <div class="col">
      <h1> Analytics </h1>
      <h6><i>The stuff you shouldn't see</i></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h5>Users</h5>
    </div>
    <div class="col">
      <p>Total number of users: <%= @total_users %></p>
      <p>User with most Dish favourites: <%= @user_most_fav_dish %></p>
      <p>User with greatest variety: <%= @user_most_dish_var %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h5>Restaurants</h5>
    </div>
    <div class="col">
      <p>Total number of restaurants: <%= @total_restaurants %></p>
      <p>Most favourited restaurant: </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h5>Dishes</h5>
    </div>
    <div class="col">
      <p>Total number of dishes: <%= @total_dishes %></p>
      <p>Most popular region (by users): <%= @user_most_pop_region %></p>
    </div>
  </div>
</div>
