<div class="container">
  <p>
  <div class="row title">
      <h1>Restaurants nearby</h1>
  </div>
  <% @nearest_restaurants.each_with_index do |restaurant, index| %>
  <div class="row closest-takeaways-row-separator">
    <div class="col-md-6">
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <h5><%= restaurant.proximity_to_user(current_user).round(2) %> km</h5>
      <p><%= restaurant.address %></p>
      <p><%= restaurant.proximity_to_user(current_user) %> km from you!</p>
      <p><%= restaurant.get_coordinates %></p>
      <p><%= current_user.get_coordinates %></p>
    </div>
    <div class="col-md-6">
      <div class="container closest-map-container" id="closest-map-<%= index %>">
      </div>
    </div>
  </div>
  <% end %>
</div>
<script>
// Initialize and add the map
var locations = <%= raw @nearest_restaurants.map {|restaurant| [restaurant.name, restaurant.id, restaurant.get_coordinates[0], restaurant.get_coordinates[1]]} %>;
console.log(locations);

function initMap() {
var latlng = new google.maps.LatLng(locations[0][2], locations[0][3]);
var latlng2 = new google.maps.LatLng(locations[1][2], locations[1][3]);
var latlng3 = new google.maps.LatLng(locations[2][2], locations[2][3]);

var myOptions = {
  zoom: 15,
  center: latlng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

var myOptions2 =  {
  zoom: 15,
  center: latlng2,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

var myOptions3 =  {
  zoom: 15,
  center: latlng3,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};


var map = new google.maps.Map(document.getElementById("closest-map-0"), myOptions);

var map2 = new google.maps.Map(document.getElementById("closest-map-1"), myOptions2);
var map3 = new google.maps.Map(document.getElementById("closest-map-2"), myOptions3);

var myMarker = new google.maps.Marker(
{
  position: latlng,
  map: map,
  title:"Closest"
});

var myMarker2 = new google.maps.Marker(
{
  position: latlng2,
  map: map2,
  title:"2nd Closest"
});


  var myMarker3 = new google.maps.Marker(
  {
      position: latlng3,
      map: map3,
      title: "3rd Closest"
  });
}


  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWHIVYglIX-UITv9CS6aXjTkrfL7Zm200&callback=initMap">
  </script>
