<div class="container-fluid">
<h1> Add new dish </h1>
<p>
<% if @dish.errors.any? %>
  <div id="error_explanation">
    <p>There were some errors:</p>
    <ul>
      <% @dish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<p>
  <%= form_for @dish do |f| %>
  <%= f.label "Name: " %>
  <%= f.text_field :name %><p>
  <p>
  <%= f.submit "Add Dish" %>
  <p>
  <% end %>
</div>
