<p>
<div class="container">
	<div class="row">
		<h1><%= @dish.name %></h1>
	</div>
	<div class="row">
		<%= image_tag "https://loremflickr.com/320/240/#{@dish.name.split.join(",")}", class: "image" %>
		<div class="col-sm">
			<%= @dish.description %>
		</div>
	</div><p>
	<div class="row">
		<div	class="col-sm">
		<%= form_for @dish, method: :delete do |f| %>
			<% f.submit "Delete Dish", :class => "btn btn-primary" %>
			<% end %>
		</div>
		<div	class="col-sm">
			<%= link_to "Edit Dish", edit_dish_path(@dish), :class => "btn btn-primary" %>
		</div>
		<div	class="col-sm">
			<%= link_to "Back to Dishes", dishes_path, :class => "btn btn-primary" %>
		</div>
	</div>
	</div>
</div>




<!-- Is there a better way to display photos? Maybe scrape google images and set the query to return 3 images max to display in show page? -->
<!-- Note to SELF!!! - if you change way photos are displayed, return to database and delete unused attribute columns -->
